<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-xs-12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <st-ltd-panel></st-ltd-panel>
        </div>
        <div class="col-xs-6">
            <st-cd-panel></st-cd-panel>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-6">
            <st-cfd-panel></st-cfd-panel>
        </div>
        <div class="col-xs-6">
            <st-cd-label-panel></st-cd-label-panel>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <st-throughput-panel></st-throughput-panel>
        </div>
    </div>
</div>

