<div id="nav-widget" class="btn-group btn-group-justified">
    <div class="btn-group">
        <button type="button" class="btn text-uppercase"
                ng-class="{'active': activeMenu==='dashboard'}"
                ng-click="gotoDashboard()">
            <span class="glyphicon glyphicon-home glyphicon-lg"></span>
            Dashboard
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn text-uppercase"
                ng-class="{'active': activeMenu==='shopping'}"
                ng-click="gotoShopping()">
            <span class="glyphicon glyphicon-shopping-cart glyphicon-lg"></span>
            Shopping
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn text-uppercase"
                ng-class="{'active': activeMenu==='stats'}"
                ng-click="gotoStats()">
            <span class="glyphicon glyphicon-qrcode glyphicon-lg"></span>
            Statistics
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn text-uppercase">
            <span class="glyphicon glyphicon-bell glyphicon-lg"></span>
            Message<span class="badge" ng-show="messages.length > 0">{{messages.length}}</span>
        </button>
    </div>
</div>

